.layout_container {
    @apply w-[95%] xl:w-[90%] mx-auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-raleway text-textdark;

    &.white {
        @apply text-white;
    }
}

/* font and sizes */
.extra_large_heading {
    @apply text-3xl md:text-4xl xl:text-5xl xl:leading-17 font-bold font-raleway text-textdark;
}

.large_heading {
    @apply text-2xl md:text-3xl xl:text-[32px] lg:leading-10 font-bold font-raleway text-textdark;
}

.medium_heading {
    @apply text-xl md:text-2xl xl:text-3xl font-semibold font-raleway text-textdark;
}

.normal_heading {
    @apply text-lg md:text-xl xl:text-2xl font-semibold font-raleway text-textdark;
}

.small_text {
    @apply text-lg md:text-lg xl:text-xl font-medium font-raleway text-textdark;

    &.bold {
        @apply font-bold;
    }

    &.light_color {
        @apply text-text;
    }
}

.light_color_text {
    @apply text-text;
}

.small_heading {
    @apply text-base md:text-lg xl:text-lg font-medium font-raleway text-textdark;
}

/* space and containers */
.xl_large_space_form_top {
    @apply pt-10 lg:pt-20 max-lg:overflow-hidden;
}

.large_space_form_top {
    @apply pt-8 lg:pt-16 max-lg:overflow-hidden;
}

.normal_space_form_top {
    @apply pt-6;
}

.space_vertically_sm {
    @apply py-2;
}

.space_horizontally_sm {
    @apply px-2;
}

.space_vertically_md {
    @apply py-4;
}

.space_horizontally_md {
    @apply px-4;
}

.space_vertically_lg {
    @apply py-6;
}

.space_horizontally_lg {
    @apply px-6;
}


.custom_container_margin {
    @apply mx-2 lg:mx-[1%] xl:mx-[1%] py-1;
}

.custom_container_padding {
    @apply px-3 lg:px-[2%] xl:px-[4%] py-3;
}

.custom_margin_for_all_side {
    @apply m-2;
}

.custom_padding_for_all_side {
    @apply p-2;
}

.custom_gap_for_all_side {
    @apply gap-2;
}

.svg_color {
    &.white {
        svg {
            @apply fill-white w-5 h-5;
        }
    }

    &.secondary {
        svg {
            @apply fill-secondary w-5 h-5;
        }
    }
}

.border {
    @apply border border-white/20;
}

.list_disc {
    @apply list-disc ml-8 space-y-2;
}