@keyframes scanUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    transform: translateY(-400px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}


.scan-animation {
  animation: scanUp 2s ease-in infinite;
}
